<ion-view view-title="mine">
  <ion-content>
    <ion-list>
      <!-- <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="sighting in sightings" type="item-text-wrap" href="#/tab/chats/{{sighting}}"> -->
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="sighting in sightings" type="item-text-wrap" href="#/tab/chats/{{sighting[0]}}">
        <img ng-src="img/icon.png">
        <h2 class="mont royal">{{sighting[0]}}</h2>
        <p class="mont">{{sighting[1]}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(sighting)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
